<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-strict-di>
<head>
  <meta charset="utf-8">
  <title>Example</title>
  <meta name="description" content="Example">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <script>
  angular.module('myApp', [])
    .controller('Ctrl',
        ['$timeout', '$rootScope', '$scope', '$log', 'resizeGameAreaService',
        function ($timeout, $rootScope, $scope, $log, resizeGameAreaService) {

      'use strict';

      var draggingLines = document.getElementById("draggingLines");
      var horizontalDraggingLine = document.getElementById("horizontalDraggingLine");
      var verticalDraggingLine = document.getElementById("verticalDraggingLine");
      var clickToDragPiece = document.getElementById("clickToDragPiece");
      var gameArea = document.getElementById("gameArea");
      var isMouseDown = false;
      var rowsNum = 20;
      var colsNum = 10;

      function touchHandler(event) {
        var touch = event.changedTouches[0];
        handleEvent(event, touch.clientX, touch.clientY);
      }
      function mouseDownHandler(event) {
        isMouseDown = true;
        handleEvent(event, event.clientX, event.clientY);
      }
      function mouseMoveHandler(event) {
        if (isMouseDown) {
          handleEvent(event, event.clientX, event.clientY);
        }
      }
      function mouseUpHandler(event) {
        isMouseDown = false;
        handleEvent(event, event.clientX, event.clientY);
      }
      function handleEvent(event, clientX, clientY) {
        var type = event.type;
        //console.log("handleEvent:", type, event, clientX, clientY);
        event.preventDefault();

        clickToDragPiece.style.display = "inline";
        draggingLines.style.display = "inline";

        // Center point in gameArea
        var x = clientX - gameArea.offsetLeft;
        var y = clientY - gameArea.offsetTop;
        // Is outside gameArea?
        if (x < 0 || y < 0 || x >= gameArea.clientWidth || y >= gameArea.clientHeight) {
          clickToDragPiece.style.display = "none";
          draggingLines.style.display = "none";
          return;
        }
        // Inside gameArea. Let's find the containing square's row and col
        var col = Math.floor(colsNum * x / gameArea.clientWidth);
        var row = Math.floor(rowsNum * y / gameArea.clientHeight);
        var sqaureWidth = gameArea.clientWidth / colsNum;
        var sqaureHeight = gameArea.clientHeight / rowsNum;
        var squareCenterX = col * sqaureWidth + sqaureWidth / 2;
        var squareCenterY = row * sqaureHeight + sqaureHeight / 2;
        verticalDraggingLine.setAttribute("x1", squareCenterX);
        verticalDraggingLine.setAttribute("x2", squareCenterX);
        horizontalDraggingLine.setAttribute("y1", squareCenterY);
        horizontalDraggingLine.setAttribute("y2", squareCenterY);
        clickToDragPiece.style.left = (col * sqaureWidth) + "px";
        clickToDragPiece.style.top = (row * sqaureHeight) + "px";

        if (type === "touchend" || type === "touchcancel" || type === "touchleave" || type === "mouseup") {
          // drag ended
          clickToDragPiece.style.display = "none";
          draggingLines.style.display = "none";
          dragDone(row, col);
        }
      }

      document.addEventListener("touchstart", touchHandler, true);
      document.addEventListener("touchmove", touchHandler, true);
      document.addEventListener("touchend", touchHandler, true);
      document.addEventListener("touchcancel", touchHandler, true);
      document.addEventListener("touchleave", touchHandler, true);
      document.addEventListener("mousedown", mouseDownHandler, true);
      document.addEventListener("mousemove", mouseMoveHandler, true);
      document.addEventListener("mouseup", mouseUpHandler, true);

      resizeGameAreaService.setWidthToHeight(0.5);

      function dragDone(row, col) {
        $rootScope.$apply(function () {
          var msg = "Dragged to " + row + "x" + col;
          $log.info(msg);
          $scope.msg = msg;
        });
      }

      function isWhiteSquare(row, col) {
        return ((row+col)%2)==0;
      }

      function getIntegersTill(number) {
        var res = [];
        for (var i = 0; i < number; i++) {
          res.push(i);
        }
        return res;
      }

      $scope.rows = getIntegersTill(rowsNum);
      $scope.cols = getIntegersTill(colsNum);
      $scope.rowsNum = rowsNum;
      $scope.colsNum = colsNum;
      $scope.getSquareClass = function (row, col) {
        var isBlack = !isWhiteSquare(row,col);
        return {
          whiteSquare: !isBlack,
          blackSquare: isBlack
        };
      };

    }]);
  </script>
  <script src="http://yoav-zibin.github.io/emulator/resizeGameAreaService.js"></script>
  <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">
  <style>
  .whiteSquare {
    background: white;
  }
  .blackSquare {
    background: black;
  }
  </style>
</head>
<body ng-controller="Ctrl">
  <div style="position:absolute; z-index: 60; color: red;">{{msg}}</div>
  <div id="gameArea">

    <svg id="draggingLines" width="100%" height="100%"
        style="display:none; position:absolute; z-index: 30;">
      <line id="horizontalDraggingLine"
            x1="0" y1="12.5%"
            x2="100%" y2="12.5%"
            stroke="red"
            stroke-width="1%"/>
      <line id="verticalDraggingLine"
            y1="0" x1="12.5%"
            y2="100%" x2="12.5%"
            stroke="red"
            stroke-width="1%"/>
    </svg>

    <svg ng-attr-width="{{100 / colsNum}}%" ng-attr-height="{{100 / rowsNum}}%"
        id="clickToDragPiece"
        style="display:none; position:absolute; z-index: 31;">
      <circle cx="50%" cy="50%" r="40%"
        stroke="green" stroke-width="4" fill="red" />
    </svg>

    <div ng-repeat="row in rows"
        style="position:absolute; top:{{row * 100 / rowsNum}}%; left:0; width:100%; height:{{100 / rowsNum}}%;">
      <div ng-repeat="col in cols"
        style="position:absolute; top:0; left:{{col * 100 / colsNum}}%; width:{{100 / colsNum}}%; height:100%;"
        ng-class = "getSquareClass(row, col)">
      </div>
    </div>
  </div>

</body>
</html>
