<!DOCTYPE HTML>
<html lang="en" ng-app="myApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>Turn-based game example</title>
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/emulator.js"></script>
  <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.js"></script>
</head>
<body ng-cloak>
  <table>
    <tr>
      <td>
        <iframe id="game_iframe" ng-src="{{emulator.getUrl()}}"
          style="width: 320px; height: 468px;" frameborder="1" scrolling="no" seamless="seamless"></iframe>
      </td>
      <td>
        <div ng-if="!emulator.calledSetGame">
          URL: <input ng-model="emulator.url" size="80" type="url"><br>
          Minimum number of players, between 2 and 8:
          <input type="number" ng-model="emulator.minPlayersNum" step="1" min="2" max="8"><br>
          Maximum number of players, between 2 and 8:
          <input type="number" ng-model="emulator.maxPlayersNum" step="1" min="2" max="8"><br>
          Choose play mode:
          <select class="button"
            ng-model="emulator.playMode" ng-change="emulator.changePlayMode()"
            ng-options="playMode for playMode in emulator.playModes"></select><br>
          <button ng-click="emulator.setGame()">Load URL</button><br>
        </div>
        <div ng-if="emulator.calledSetGame">
          Last updateUI:<br>
          <textarea ng-model="emulator.lastUpdateUI" rows=7 cols=80>
          </textarea>
          <button ng-click="emulator.sendUpdateUI()">Send last updateUI</button><br>
          Last isMoveOk:<br>
          <textarea ng-model="emulator.lastIsMoveOk" rows=7 cols=80>
          </textarea>
          <button ng-click="emulator.sendIsMoveOk()">Send last IsMoveOk</button><br>
          Last move:<br>
          <textarea ng-model="emulator.lastMove" rows=3 cols=80>
          </textarea><br>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
