<!DOCTYPE HTML>
<html lang="en" ng-app="myApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>Turn-based game example</title>
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <script>
  angular.module('myApp', ['gameServices'])
    .run(function () {
      function updateUI(params) {
        $rootScope.lastUpdateUI = angular.toJson(params, true);
      }
      function isMoveOk(params) {
        $rootScope.lastIsMoveOk = angular.toJson(params, true);
        return true;
      }
      $rootScope.nextMove = '[{setTurn: {turnIndex: 0}}]';
      $rootScope.sendMessage = function () {
        gameService.makeMove(eval($rootScope.nextMove));
      };
      $rootScope.playModes = ['passAndPlay', 'playAgainstTheComputer', 'onlyAIs', 'playWhite', 'playBlack', 'playViewer'];
      $rootScope.playMode = $rootScope.playModes[0];
      $rootScope.changePlayMode = function () {
        stateService.setPlayMode($rootScope.playMode);
        stateService.sendUpdateUi();
      };
      gameService.setGame({
        minNumberOfPlayers: 2,
        maxNumberOfPlayers: 2,
        isMoveOk: isMoveOk,
        updateUI: updateUI
      });
    });
  </script>
  <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.js"></script>
</head>
<body ng-cloak>
Choose play mode:
<select class="button"
  ng-model="playMode" ng-change="changePlayMode()"
  ng-options="playMode for playMode in playModes"></select><br>
Last updateUI:<br>
<textarea ng-model="lastUpdateUI" rows=7 cols=80 readonly>
</textarea><br>
Last isMoveOk:<br>
<textarea ng-model="lastIsMoveOk" rows=7 cols=80 readonly>
</textarea><br>
Enter your move:<br>
<textarea ng-model="nextMove" rows=3 cols=80>
</textarea><br>
  <button ng-click="sendMessage()">Send message</button>
<br>
Example operations:<br>
<textarea rows=7 cols=80>
{set: {key: 'k1', value: 'val', visibleToPlayerIndexes: [0]}}
{'delete': {key: 'k1'}}
{setTurn: {turnIndex: 0}}
{setVisibility: {key: 'k1', visibleToPlayerIndexes: null}}
{shuffle: {keys: ['k1', 'k2']}}
{setRandomInteger: {key: 'k3', from: 1, to: 7}}
{endMatch: {endMatchScores: [1, 0]}}
</textarea>
</body>
</html>
