<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Example translate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

  <script src="http://rawgithub.com/angular-translate/bower-angular-translate/master/angular-translate.min.js"></script>
  <script src="http://rawgithub.com/angular-translate/bower-angular-translate-interpolation-messageformat/master/angular-translate-interpolation-messageformat.min.js"></script>
  <script src="http://rawgithub.com/angular-translate/bower-angular-translate-storage-local/master/angular-translate-storage-local.min.js"></script>
  <script src="http://rawgithub.com/angular-translate/bower-angular-translate-loader-static-files/master/angular-translate-loader-static-files.min.js"></script>
  <script src="http://rawgithub.com/angular-translate/bower-angular-translate-handler-log/master/angular-translate-handler-log.min.js"></script>
  <script src="http://rawgithub.com/angular-translate/bower-angular-translate-loader-static-files/master/angular-translate-loader-static-files.min.js"></script>
  <script src="http://rawgithub.com/angular-translate/bower-angular-translate-handler-log/master/angular-translate-handler-log.min.js"></script>

  <script>
    angular.module('myApp', ['pascalprecht.translate']);
    angular.module('myApp')
    .config(["$translateProvider", function($translateProvider) {
      $translateProvider.useStaticFilesLoader({
        prefix: 'languages/',
        suffix: '.json'
      });
      $translateProvider
        .registerAvailableLanguageKeys(['en', 'de'], {
          'en_US': 'en',
          'en_UK': 'en',
          'de_DE': 'de',
          'de_CH': 'de'
        })
        .fallbackLanguage(['en'])
        .determinePreferredLanguage();
    }])
    .controller('Ctrl',
      ['$translate', '$scope', '$translate',
      function($translate, $scope, $translate) {
        function setVariablesOnScope() {
          $translate('INTRO_TEXT').then(function (translation) {
            translation;
          });
          $translate('WITH_VALUES', {value: 42}).then(function (translation) {
            $scope.someVariableOnScope2 = translation;
          });
        }
        $scope.changeLanguage = function (langKey) {
          $translate.use(langKey);
          setVariablesOnScope();
        };
        $scope.someText1 = function () {

        };
        setVariablesOnScope();
      }]);
  </script>
</head>
<body ng-cloak ng-controller="Ctrl">
  <pre>Example of I18N:</pre>
  <pre>{{ 'HEADLINE' | translate }}</pre>
  <pre>{{ 'WITH_VALUES' | translate:'{value: 5}' }}</pre>
  <pre>{{someVariableOnScope1}}</pre>
  <pre>{{someVariableOnScope2}}</pre>
  <pre translate="HEADLINE"></pre>
  <pre translate="WITH_VALUES" translate-values="{value: 5}"></pre>
  <div>
    <button ng-click="changeLanguage('de')" translate="BUTTON_TEXT_DE"></button>
    <button ng-click="changeLanguage('en')" translate="BUTTON_TEXT_EN"></button>
  </div>
</body>
</html>
