<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Example translate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>


  <script src="http://yoav-zibin.github.io/emulator/angular-translate/angular-translate.2.6.1.min.js"></script>
  <script src="languages/en.js"></script>
  <script src="angular-translate-loader-with-localStorage.js"></script>


  <script>
    // IMPORTANT: don't forget to add the dependency on 'pascalprecht.translate'
    // when you define your myApp module in your gameLogic.js
    angular.module('myApp', ['pascalprecht.translate']);

    angular.module('myApp')
    .config(["$translateProvider",
        function($translateProvider) {
      $translateProvider.useStaticFilesLoader({
        prefix: 'languages/',
        suffix: '.js'
      });
      $translateProvider
        //.preferredLanguage() TODO
        .registerAvailableLanguageKeys(['en', 'de'], {
          'en_US': 'en',
          'en_UK': 'en',
          'de_DE': 'de',
          'de_CH': 'de'
        })
        .fallbackLanguage(['en'])
        .determinePreferredLanguage();
    }])
    .controller('Ctrl',
      ['$translate', '$scope',
      function($translate, $scope) {
        window.$translate = $translate;
        console.log("Creating Ctrl using: preferredLanguage=" + $translate.preferredLanguage() + " useLanguage=" + $translate.use());
        $scope.getPreferredLanguage = function () {
          return $translate.preferredLanguage();
        };
        $scope.getUseLanguage = function () {
          return $translate.use();
        };
        $scope.changeLanguage = function (langKey) {
          $translate.use(langKey);
        };
        $scope.someText1 = function () {
          return $translate.instant('INTRO_TEXT');
        };
        $scope.someText2 = function () {
          return $translate.instant('WITH_VALUES', {value: 42});
        };
      }]);
  </script>
</head>
<body ng-cloak ng-controller="Ctrl">
  <pre>Example of I18N (getPreferredLanguage={{getPreferredLanguage()}}, getUseLanguage={{getUseLanguage()}}):</pre>
  <pre>{{ 'HEADLINE' | translate }}</pre>
  <pre>{{ 'WITH_VALUES' | translate:'{value: 5}' }}</pre>
  <pre>{{someText1()}}</pre>
  <pre>{{someText2()}}</pre>
  <pre translate="HEADLINE"></pre>
  <pre translate="WITH_VALUES" translate-values="{value: 5}"></pre>
  <div>
    <button ng-click="changeLanguage('de')" translate="BUTTON_TEXT_DE"></button>
    <button ng-click="changeLanguage('en')" translate="BUTTON_TEXT_EN"></button>
  </div>
</body>
</html>
