<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <script>
  angular.module('myApp', [])
    .controller('Ctrl',
    function ($scope) {
      function numbersTo(num) {
        var res = [];
        for (var i=0; i<num; i++) {
          res[i] = i;
        }
        return res;
      }
      $scope.numbersTo = numbersTo;
    });
  </script>
</head>
<body ng-controller="Ctrl">

  <div id="gameArea" style="position:absolute; width: 400px; height:400px; background-color: yellow;">
    <div ng-repeat="row in numbersTo(8)">
      <div ng-repeat="col in numbersTo(8 + row)">
        <img style="position:absolute; top:{{2.5 * row}}%; left:{{7.5 * col + (7 - row) * (5 - 5/4) }}%; width:5%; height:5%;" src="hex.png">
      </div>
    </div>
  </div>
</body>
</html>
