<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Example</title>
  <meta name="description" content="Example">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script>
  angular.module('myApp', [])
    .controller('Ctrl',
            ["resizeGameAreaService", "$scope",
        function (resizeGameAreaService, $scope) {
      'use strict';

      resizeGameAreaService.setWidthToHeight(1);
      resizeMapArea({imageId: "myimageId", mapId: "mymapId", originalWidth: 100, originalHeight: 100});

      var startOrEnd = null;
      var dragFromCountry = null;
      var invisibleDivAboveAreaMap = document.getElementById("invisibleDivAboveAreaMap");
      var myimageId = document.getElementById("myimageId");

      $scope.dragMessage = "Drag from one color to another";
      $scope.countryClicked = function (countryColor) {
        console.log("Clicked on country " + countryColor + " startOrEnd=" + startOrEnd);
        if (startOrEnd === "start") {
          dragFromCountry = countryColor;
        } else if (dragFromCountry) {
          $scope.dragMessage = "Dragged from " + dragFromCountry + " to " + countryColor;
        }
      };

      window.handleInvisibleDivEvent = function (event, _startOrEnd) {
        startOrEnd = _startOrEnd;
        console.log("handleInvisibleDivEvent:", event, startOrEnd);
        event.preventDefault();

        var touch = event.changedTouches ? event.changedTouches[0] : event;
        var simulatedEvent = document.createEvent("MouseEvent");
        simulatedEvent.initMouseEvent("click", true, true, window, 1,
            touch.screenX, touch.screenY,
            touch.clientX, touch.clientY, false,
            false, false, false, 0, null);

        invisibleDivAboveAreaMap.style.display = "none"; // Making it invisible to we find the correct elementFromPoint
        document.elementFromPoint(touch.clientX,touch.clientY).dispatchEvent(simulatedEvent);
        invisibleDivAboveAreaMap.style.display = "block";
      };
    }]);
  </script>
  <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.2.js"></script>
  <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">

</head>
<body ng-cloak ng-controller="Ctrl">

<div style="color:red">{{dragMessage}}</div>

<div id="gameArea">
  <map id="mymapId" name="mymapId" >
   <area  title="CYAN     AREA"  alt="CYAN"     shape="circle"   coords="50,50,20"      ng-click="countryClicked('CYAN')"      />
   <area  title="BLUE     AREA"  alt="BLUE"     shape="circle"   coords="25,25,20"      ng-click="countryClicked('BLUE');"     />
   <area  title="RED      AREA"  alt="RED"      shape="circle"   coords="25,75,20"      ng-click="countryClicked('RED');"      />
   <area  title="MAGENTA  AREA"  alt="MAGENTA"  shape="circle"   coords="75,25,20"      ng-click="countryClicked('MAGENTA');"  />
   <area  title="GREEN    AREA"  alt="GREEN"    shape="circle"   coords="75,75,20"      ng-click="countryClicked('GREEN');"    />
   <area  title="YELLOW   AREA"  alt="YELLOW"   shape="rect"     coords="0,0,100,100"  ng-click="countryClicked('YELLOW');"   />
  </map>
  <img id="myimageId" width="100%" height="100%" src="http://home.comcast.net/~urbanjost/IMG/100x100.gif" alt="100x100" usemap="#mymapId" />

  <div id="invisibleDivAboveAreaMap" style="position:absolute; left:0; top:0; width:100%; height:100%;"
    onmousedown="handleInvisibleDivEvent(event, 'start')" onmouseup="handleInvisibleDivEvent(event, 'end')"
    ontouchstart="handleInvisibleDivEvent(event, 'start')" ontouchend="handleInvisibleDivEvent(event, 'end')"></div>
</div>

</body>
</html>
