<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Example</title>
  <meta name="description" content="Example">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
  <script>
    angular.module('myApp', ['gameServices'])
    .run(function () {
      'use strict';

      var draggingLines = document.getElementById("draggingLines");
      var horizontalDraggingLine = document.getElementById("horizontalDraggingLine");
      var verticalDraggingLine = document.getElementById("verticalDraggingLine");
      var gameArea = document.getElementById("gameArea");
      var rowsNum = 20;
      var colsNum = 10;
      var draggingStartedRowCol = null; // The {row: YY, col: XX} where dragging started.
      var draggingPiece = null;
      var nextZIndex = 61;

      dragAndDropService.addDragListener("gameArea", handleDragEvent);
      function handleDragEvent(type, clientX, clientY) {
        // Center point in gameArea
        var x = clientX - gameArea.offsetLeft;
        var y = clientY - gameArea.offsetTop;
        var row, col;
        // Is outside gameArea?
        if (x < 0 || y < 0 || x >= gameArea.clientWidth || y >= gameArea.clientHeight) {
          draggingLines.style.display = "none";
          if (draggingPiece) {
            // Drag the piece where the touch is (without snapping to a square).
            var size = getSquareWidthHeight();
            setDraggingPieceTopLeft({top: y - size.height / 2, left: x - size.width / 2});
          } else {
            return;
          }
        } else {
          // Inside gameArea. Let's find the containing square's row and col
          var col = Math.floor(colsNum * x / gameArea.clientWidth);
          var row = Math.floor(rowsNum * y / gameArea.clientHeight);

          if (type === "touchstart" && !draggingStartedRowCol) {
            // drag started
            if ($rootScope.board[row][col]) {
              draggingStartedRowCol = {row: row, col: col};
              draggingPiece = document.getElementById("MyPiece" + draggingStartedRowCol.row + "x" + draggingStartedRowCol.col);
              draggingPiece.style['z-index'] = ++nextZIndex;
            }
          }
          if (!draggingPiece) {
            return;
          }

          if (type === "touchend") {
            var from = draggingStartedRowCol;
            var to = {row: row, col: col};
            dragDone(from, to);
          } else {
            // Drag continue
            setDraggingPieceTopLeft(getSquareTopLeft(row, col));
            draggingLines.style.display = "inline";
            var centerXY = getSquareCenterXY(row, col);
            verticalDraggingLine.setAttribute("x1", centerXY.x);
            verticalDraggingLine.setAttribute("x2", centerXY.x);
            horizontalDraggingLine.setAttribute("y1", centerXY.y);
            horizontalDraggingLine.setAttribute("y2", centerXY.y);
          }
        }
        if (type === "touchend" || type === "touchcancel" || type === "touchleave") {
          // drag ended
          // return the piece to it's original style (then angular will take care to hide it).
          setDraggingPieceTopLeft(getSquareTopLeft(draggingStartedRowCol.row, draggingStartedRowCol.col));
          draggingLines.style.display = "none";
          draggingStartedRowCol = null;
          draggingPiece = null;
        }
      }

      function setDraggingPieceTopLeft(topLeft) {
        var originalSize = getSquareTopLeft(draggingStartedRowCol.row, draggingStartedRowCol.col);
        draggingPiece.style.left = (topLeft.left - originalSize.left) + "px";
        draggingPiece.style.top = (topLeft.top - originalSize.top) + "px";
      }

      function getSquareWidthHeight() {
        return {
          width: gameArea.clientWidth / colsNum,
          height: gameArea.clientHeight / rowsNum
        };
      }

      function getSquareTopLeft(row, col) {
        var size = getSquareWidthHeight();
        return {top: row * size.height, left: col * size.width}
      }

      function getSquareCenterXY(row, col) {
        var size = getSquareWidthHeight();
        return {
          x: col * size.width + size.width / 2,
          y: row * size.height + size.height / 2
        };
      }

      resizeGameAreaService.setWidthToHeight(0.5);

      function dragDone(from, to) {
        $rootScope.$apply(function () {
          var msg = "Dragged piece " + from.row + "x" + from.col + " to square " + to.row + "x" + to.col;
          log.info(msg);
          $rootScope.msg = msg;
          // Update piece in board
          $rootScope.board[from.row][from.col] = null;
          $rootScope.board[to.row][to.col] = 'O';
        });
      }

      function isWhiteSquare(row, col) {
        return ((row+col)%2)==0;
      }

      function getIntegersTill(number) {
        var res = [];
        for (var i = 0; i < number; i++) {
          res.push(i);
        }
        return res;
      }

      function getInitialBoard() {
        var board = [];
        for (var row = 0; row < rowsNum; row++) {
          board[row] = [];
          for (var col = 0; col < colsNum; col++) {
            board[row][col] = (row == 0 || row == 13) && !isWhiteSquare(row,col) ? "O" : null;
          }
        }
        return board;
      }

      $rootScope.rows = getIntegersTill(rowsNum);
      $rootScope.cols = getIntegersTill(colsNum);
      $rootScope.rowsNum = rowsNum;
      $rootScope.colsNum = colsNum;
      $rootScope.getSquareClass = function (row, col) {
        var isBlack = !isWhiteSquare(row,col);
        return {
          whiteSquare: !isBlack,
          blackSquare: isBlack
        };
      };
      $rootScope.board = getInitialBoard();
      $rootScope.isPieceShown = function (row, col) {
        return $rootScope.board[row][col] === "O";
      };

    });
  </script>
  <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.js"></script>
  <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">
  <style>
  .whiteSquare {
    background: white;
  }
  .blackSquare {
    background: black;
  }
  </style>
</head>
<body>
  <div style="position:absolute; z-index: 60; color: red;">{{msg}}</div>
  <div id="gameArea">

    <svg id="draggingLines" width="100%" height="100%"
        style="display:none; position:absolute; z-index: 30;">
      <line id="horizontalDraggingLine"
            x1="0" y1="12.5%"
            x2="100%" y2="12.5%"
            stroke="red"
            stroke-width="1%"/>
      <line id="verticalDraggingLine"
            y1="0" x1="12.5%"
            y2="100%" x2="12.5%"
            stroke="red"
            stroke-width="1%"/>
    </svg>

    <div ng-repeat="row in rows"
        style="position:absolute; top:{{row * 100 / rowsNum}}%; left:0; width:100%; height:{{100 / rowsNum}}%;">
      <div ng-repeat="col in cols"
        style="position:absolute; top:0; left:{{col * 100 / colsNum}}%; width:{{100 / colsNum}}%; height:100%;"
        ng-class = "getSquareClass(row, col)">
        <svg width="100%" height="100%"
            style="position:absolute;"
            ng-show="isPieceShown(row, col)"
            id="MyPiece{{row}}x{{col}}">
          <circle cx="50%" cy="50%" r="40%"
            stroke="green" stroke-width="4" fill="yellow" />
        </svg>
      </div>
    </div>
  </div>

</body>
</html>
